#gameboard{
    width:75%;
    background-color:turquoise;
    float:left;
}
#messageboard{
    width:25%;
    float:right;
}
.bugs{
    position:relative;
}
div div img{
    position:absolute;
    top:0;
    left:0;
    height:7rem;
    width:7rem;
}
.splat{
    visibility:hidden;
}
#gameboard{
    display:grid;
    grid-template-columns:repeat(4,9rem);
    grid-template-rows:repeat(4,9rem);
}